body {
	background: #0E0E0E; 
}
.wrapper {
	background-image: url(https://tinypic.host/images/2023/02/03/201288874455.jpg);
    background-position: 20% 20%;   
	background-repeat: repeat;
    -webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	text-transform: uppercase;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 150px;  
	font-family: 'Poppins', sans-serif; 
	font-weight: 900;
	 
}
