body {
	background: #0E0E0E; 
	background-image: url(./BTTF.png);
	object-fit : fill;
}
.wrapper {
	background-image: url(./BTTF.png);
    background-position: 100% 100%;   
	background-repeat: repeat;
    -webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	text-transform: uppercase;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 150px;  
	font-family: 'Poppins', sans-serif; 
	font-weight: 900;
	 
}
